body{
    padding: 0px!important;
}
.app-container-fluid{
    padding: 0 18px 0px;
    background-color: #1d1f2e;
}
.app-sidebar{
    position: fixed;
    top:0;
    left:20px;
    width: 180px;
    height: 100%;
    display: flex;
}
.userinfo{
    height: 60px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-right: 20px;
}
.userinfo .avatarUrl{
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 15px;
}
.userinfo .nikename{
    font-size: 14px;
    color: #fff;
    display: block;
    width: 60px;
}
.logout-btn{
    width: 30px;
    height: 30px;
    background: url("../images/logout-icon.png") no-repeat center center;
    border:0px;
    margin-left: 15px;
}
.navbar{
    border-radius: 0px;
    margin: 0px;
    flex-grow:1;
    margin-top: 76px;
    margin-bottom: 15px;
    background-color: #389bff;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    overflow-y: auto;
}

#navbar::-webkit-scrollbar {
    position: relative;
    z-index: 99;
    width: 8px;
}

#navbar::-webkit-scrollbar-track {
    position: relative;
    z-index: 99;
    background: #fff;
}

#navbar::-webkit-scrollbar-thumb {
    position: relative;
    z-index: 99;
    background: #292a40;
}
#navbar::-webkit-scrollbar-thumb:window-inactive {
    background: #292a40;
}
#navbar::-webkit-scrollbar-thumb:vertical:hover {
    background: #292a40;
}
.navbar ul li{
    height: 40px;
}

.navbar ul li.cspz{
    background: url("../images/nav-icon-01.png") no-repeat 30px center;
    background-size: 20px;
}
.navbar ul li.cspz:hover,
.navbar ul li.cspz.active{
    background: url("../images/nav-icon-active-01.png") no-repeat 30px center;
    background-size: 20px;
}
.navbar ul li.xtts{
    background: url("../images/nav-icon-02.png") no-repeat 30px center;
    background-size: 20px;
}
.navbar ul li.xtts:hover,
.navbar ul li.xtts.active{
    background: url("../images/nav-icon-active-02.png") no-repeat 30px center;
    background-size: 20px;
}
.navbar ul li.xgmm{
    background: url("../images/nav-icon-03.png") no-repeat 30px center;
    background-size: 20px;
}
.navbar ul li.xgmm:hover,
.navbar ul li.xgmm.active{
    background: url("../images/nav-icon-active-03.png") no-repeat 30px center;
    background-size: 20px;
}
.navbar ul li.active {
    background-color: #233342;
}
.navbar ul li a{
    display: block;
    height: 40px;
    line-height: 40px;
    text-underline: none;
}
.navbar ul li a:hover{
    text-underline: none;
}
.navbar ul li a p{
    color: #d4d4d4;
    padding-left: 60px;
}
.navbar ul li.active a p,
.navbar ul li:hover a p{
    color: #fff;
}
.app-container{
    margin-left: 210px;
    padding-top: 60px;
}
.app-header{
    position: fixed;
    top:0;
    left:0;
    height:60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: #1d1f2e;
    z-index: 99;
}
.app-header .logo{
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    padding-left: 30px;
}
.app-container .app-content{
    padding: 15px 0;
}
.app-content ul{
    margin: 0 0 27px;
    background-color: #292a40;
    padding: 30px 30px;
    border-radius: 8px;
    color: #fff;
}
.app-content ul li.col-xs-6.form-group{
    padding: 0px;
    min-height:34px;
}
.app-content ul li label{
    color: #fff;
}
.btn-group{
    padding: 15px 0;
}
.row.btn-group.div-block{
    display: block;
    margin: 0 auto;
}
.table{
    color: #fff!important;
    background-color: transparent!important;
    border: 0px!important;
}
caption{
    color: #fff!important;
}
.btn-group{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}
.add-btn{
    background-color: #f76f2c;
    border-color: #f76f2c;
    border-radius: 12px;
    width: 60px;
    height: 24px;
    padding: 0 0px;
    margin-left: 15px;
}
.add-btn:hover{
    background-color: #f76f2c!important;;
    border-color: #f76f2c!important;
}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td{
    background-color: transparent!important;
    color: #fff!important;
    border-bottom: 1px solid #4b4d76!important;
    border-left: 0px!important;
    border-right: 0px!important;
    border-top: 0px!important;
}
.modify-btn{
    background-color: #33d1b2!important;
    border-color: #33d1b2!important;
    margin-right: 5px;
}
.save-btn{
    background-color: #3da2fc!important;
    border-color: #3da2fc!important;
    width: 80px;
    margin-right: 50px;
}
input[type=radio], input[type=checkbox]{
    margin: 0px;
    vertical-align: middle;
}
label.isTls,label.isCatls{
    margin-right: 15px;
}
#functionOp button{
    height: 28px;
    padding: 0 15px;
    border-radius: 22px;
    margin-bottom: 10px;
    margin-right: 9px;
    background-color: #f3f3f3;
    color: #333;
}
#functionOp button:hover,
#functionOp button.active{
    background-color: #3ca1fb;
    color: #fff;
}
textarea{
    display: block;
    resize: none;
    height: 200px;
    padding: 10px 15px;
    background-color: #4b4d76;
    border-radius: 6px;
    font-size: 14px;
}
#systemOp ul li{
    display: flex;
}
#systemPw ul li{
    display: flex;
}
#systemOp ul li .control-label{
    width: 70px;
}
#systemPw ul li .control-label{
    width: 80px;
}
#systemPw ul li .col-sm-9{
    flex-grow: 1;
}
#systemOp ul li textarea{
    flex-grow:1;
}
button#run{
    background-color: #34deb9;
    height: 32px;
    width: 100px;
    border-radius: 6px;
    position: relative;
    left: 0px;
    margin-bottom: 15px;
}